#faqs {
  height: 85vh;
  margin-bottom: 10rem;
  background-color: $gray;
  padding: 5rem;
  position: relative;
  .about-wave {
    position: absolute;
  }
  .top-section {
    text-align: center;
    margin-bottom: 3rem;
    h3 {
      font-family: $body-font;
      font-size: 1.4rem;
      font-weight: 200;
      color: $green;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }
    h1 {
      font-family: $fav-font;
      font-size: 2.6rem;
      font-weight: bold;
      color: $white;
      margin-bottom: 0.5rem;
    }
    p {
      font-family: $body-font;
      font-weight: 200;
      font-size: 0.8rem;
      margin-bottom: 2rem;
      line-height: 1rem;
      width: 100%;
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    .faqs-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      width: 45%;
      .faq {
        margin-bottom: 2rem;
        h4 {
          color: $green;
          font-family: $fav-font;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        p {
          font-family: $body-font;
          font-weight: 200;
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }
    }
  }

  //making that shit responsive
  @media (max-width: 1024px) {
    padding: 3rem;
    .top-section {
      margin-bottom: -1rem;
    }
    .bottom-section {
      .faqs-item {
        .faq {
          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  @media (max-width: 760px) {
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    .about-wave {
      top: 20%;
      right: 5%;
    }
    .top-section {
      h1 {
        font-size: 2rem;
      }
    }
    .bottom-section {
      flex-direction: column;
      .faqs-item {
        width: 100%;
        align-items: center;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 2rem 1.5rem;
    .about-wave {
      display: none;
    }
    .bottom-section {
      flex-direction: column;
      .faqs-item {
        width: 100%;
        align-items: center;
      }
    }
  }
}
