nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 7vw;
  background-color: $background_color;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.5;
  transform: translateY(30px);

  .scrollIndicator {
    position: absolute;
    width: 40%;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  .logo img {
    width: 55px;
    height: 25px;
  }

  .links {
    display: flex;
    justify-content: space-between;

    .active {
      color: $green;
      font-weight: 400;
    }

    a {
      font-weight: 200;
      font-size: 0.85rem;
      text-decoration: none;
      color: $white;
      transition: all 0.2s ease;
      cursor: pointer;
    }
  }

  .goToWaitlist {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $white;
    width: 6rem;
    height: 2.5rem;
    background: linear-gradient(90deg, $green30, $red30);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
      background: linear-gradient(115deg, $green, $red, $green);
      animation: spin 1s ease-in infinite;
      span {
        background-color: $background_color;
        padding: 0.67rem 1.25rem;
      }
    }

    span {
      transition: font-weight 0.3s ease;
      background-origin: top left;
      font-family: $heading_font;
      font-weight: 400;
      font-size: 0.95rem;
      //background-color: $background_color;
      //padding: 0.65rem 1.25rem;
    }
  }

  //Responsive
  @media screen and (max-width: 768px) {
    padding-block: 15px;
    .links {
      display: none;
    }
    .goToWaitlist {
      padding: 10px 30px;
    }
  }
  //Responsive
  //Responsive
  @media screen and (max-width: 1024px) {
    padding-block: 15px;
    .links {
      width: 30rem;
    }
    .goToWaitlist {
      padding: 10px 30px;
    }
  }
  //Responsive
  //Responsive
  @media screen and (min-width: 1025px) {
    padding-block: 15px;
    .links {
      width: 45rem;
    }
    .goToWaitlist {
      padding: 10px 30px;
    }
  }
  //Responsive

  //keyframes
  @keyframes spin {
    0% {
      background-position: 0px;
      background-size: 200%;
    }
    50% {
      background-position: -50px;
      background-size: 200%;
    }
    100% {
      background-position: 0px;
      background-size: 200%;
    }
  }
}
