#footer {
  height: 50vh;
  background-color: $gray;
  padding: 3rem 10rem;
  position: relative;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ikazic {
      width: 25%;
      img {
        width: 65px;
        height: 35px;
        margin-bottom: 1rem;
      }
      p {
        font-family: $body_font;
        font-weight: 200;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        line-height: 1rem;
        width: 100%;
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h3 {
        font-family: $heading_font;
        color: $green;
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      a {
        cursor: pointer;
        transition: all 1s ease;
        margin-bottom: 1.2rem;
        font-family: $body_font;
        &:hover {
          color: $green;
        }
      }
      p {
        margin-bottom: 1.2rem;
        font-family: $body_font;
      }
    }
  }
  .bottom-section {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    .divider {
      height: 1px;
      width: 90vw;
      background: linear-gradient(90deg, $red30, $green, $red30);
    }
    .copyright-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
      span {
        font-family: $heading_font;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}
