/* Font families*/
$body-font: "Inter var";
$heading-font: "Satoshi-Variable";

/* Base colors*/
$green: #0a9396;
$red: #b94d42;
$background_color: #1e1e1e;
$background_color_2: #1e1e1e99;
$gray: #303032;
$white: #f2f2f2;

$green30: rgba(10, 147, 150, 0.3);
$red30: rgba(185, 77, 66, 0.3);
